@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0c6cd; /* Color of the scroll handle */
  border-radius: 4px; /* Roundness of the scroll handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c9cfd6; /* Color of the scroll handle on hover */
}
